SUBSYSTEM=="usb", ACTION=="add", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="1a40/101/111", RUN+="/usr/local/bin/monitor-switch.sh add"
SUBSYSTEM=="usb", ACTION=="remove", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="1a40/101/111", RUN+="/usr/local/bin/monitor-switch.sh remove"

